#header {
	background-color: #000080;
}

#logo {
	height: 200;
	width: 17%;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 1%;
	padding-bottom: 2%;
}

#banner {
	height: 200;
	width: 77%;
	padding-left: 1%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

body {
	margin: 0;
	color: #ffffff;
}

#menu {
	margin-top: 0;
	width: 17%;
	list-style: none;
	padding: 2%;
}

.menuItem {
	font-family: "Verdana";
	padding-top: 15;
	height: 35;
	margin-top: 10;
	background-color: #000080;
	text-align: center;

}








	