#header {
	background-color: #000080; 
}

#logo {
	height: 200;
	width: 17%;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 1%;
	padding-bottom: 2%;
	margin-bottom: 0%;
}

#banner {
	height: 200;
	width: 77%;
	padding-left: 1%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

body {
	margin: 0;
}

#content {
	min-height: 100%;
	vertical-align: top;
	width: 100%;
}	

ul {
	display: inline-block;
}

#menu {
	margin-top: 0;
	width: 17%;
	list-style: none; /* get rid of bullet points */
	padding: 2%;
	vertical-align: top;
}

.menuItem {
	font-family: "Verdana";
	padding-top: 15;
	height: 35;
	margin-top: 10;
	background-color: #000080;
	text-align: center;
	color: #ffffff;
}

.menuItem:hover {
	background-color: #98AFC7;
	color: black;
}

#productList {
	list-style: none;
	width: 76%;
	padding-left: 2%;
	padding-right: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 0;
}

.product {
	font-family: "Verdana";
	display: inline-block; 
	padding-top: 15;
	margin: 8;
	height: 250;
	width: 30%;
	margin-top: 10;
	background-color: #000080;
	text-align: center;
	color: #ffffff;
	position: relative;
}

.product:hover {
	background-color: #98AFC7;
	color: black;
}

.product img {
	max-height: 200;
	max-width: 200;
	height: 80%;
	width: 80%;
}

.priceOverlay {
	position: absolute;
	bottom: 50;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 80%;
	margin-left:10%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 25px;
	font-family: "Verdana";
	height: 32px;
	text-align: center;
}

.product:hover .priceOverlay {
	opacity: 1;
}

#footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	background-color: #000080;
	color: white;
	font-family: "Verdana";
}

	